.display {
  width: 800px;
}

.sort {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.search {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.25rem 0.5rem;
}

.category {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
}

.category button {
  background-color: aliceblue;
  border-radius: 12px;
}

.cards-container {
  /* display: flex;
    flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.card {
  /* width: calc(100%/3); */
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  color: white;
  border-radius: 12px;
}

.pet-img {
  width: 100%;
}

.pet-img img {
  width: 100%;
}

.pet-info {
  font-size: 0.8rem;
  padding: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
}

.search input {
  border-radius: 6px;
  padding: 0rem 0.5rem;
  outline: none;
}

@media (max-width: 800px) {
  .display {
    width: 100%;
  }
}
