.fav-display {
    width: 800px;
}

cards-container {
    /* display: flex;
      flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.card {
    /* width: calc(100%/3); */
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    color: white;
    border-radius: 12px;
}

.pet-img {
    width: 100%;
}

.pet-img img {
    width: 100%;
}

.pet-info {
    font-size: 0.8rem;
    padding: 0.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

button {
    cursor: pointer;
}

@media (max-width: 800px) {
    .fav-display {
        width: 100%;
    }
}

.fav-card-wrapper {
    position: relative;
    display: inline-block;
}

.remove-fav-btn {
    margin-top: 8px;
    padding: 6px 12px;
    background-color: #ff4e4e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

.remove-fav-btn:hover {
    background-color: #d63c3c;
}

.center-msg {
    text-align: center;
    margin-top: 40px;
    color: #444;
    font-size: 20px;
}
